* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosevka Nerd Font, monospace;
    font-size: 16px;
    font-weight: 500;
}

window#waybar {
    color: #afb7c0;
    background-color: #2c2d30;
}

#workspaces button {
    color: #afb7c0;
    padding: 0 4px;
    border-radius: 0px;
}

#workspaces button.focused {
    color: #2c2d30;
    background-color: #7f9d77;
}

#mpd,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#battery#bat2,
#clock {
    padding: 0px 8px;
}
